<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.violinsolo.boman">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- this is autosize design -->
        <!-- <meta-data -->
        <!-- android:name="design_width_in_dp" -->
        <!-- android:value="360"/> -->
        <!-- <meta-data -->
        <!-- android:name="design_height_in_dp" -->
        <!-- android:value="640"/> -->
        <!-- this is autosize design -->
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DetailsActivity" />
        <activity android:name=".activity.prerequisite.RadarActivity"
            android:parentActivityName=".activity.prerequisite.BluetoothCheckActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.prerequisite.BluetoothCheckActivity" />
        </activity>
        <activity android:name=".activity.prerequisite.BluetoothCheckActivity"
            android:parentActivityName=".activity.prerequisite.LocationCheckActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.prerequisite.LocationCheckActivity" />
        </activity>
        <activity android:name=".activity.prerequisite.LocationCheckActivity" >
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>